.form,
.inputWrapper {
  display: flex;
  flex-direction: column;
}
.form {
  margin-top: 20px;
  gap: 20px;
  border-radius: 4px;
  padding: 10px;
  align-items: center;
}
.ErrorMessage {
  color: rgb(207, 19, 19);
  font-family: "DM Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 8px;
}

.input {
  width: 344px;
  max-height: 48px;
  padding: 12px 12px;
  border-radius: 8px;
  border: 1px solid #c5c4c4;
  background: #fdfcfd;
  box-shadow: 0px 7px 16px 0px rgba(19, 55, 110, 0.03),
    0px 6px 20px 0px rgba(27, 27, 35, 0.03);
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}

.input::placeholder {
  color: #b2b3b3;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.button {
  display: flex;
  justify-content: center;
  width: 344px;
  padding: 12px;
  border-radius: 8px;
  background: #5b53c4;
  box-shadow: 0px 7px 16px 0px rgba(19, 55, 110, 0.03),
    0px 6px 20px 0px rgba(27, 27, 35, 0.03);
  border: none;
  margin-top: 20px;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: #fdfcfd;
  cursor: pointer;
}

.button:hover {
  background: #2f23cf;
}
.label {
  color: #0b0b0b;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 8px;
}
.svg {
  margin-left: 12px;
}
